<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Admin Dashboard</title>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <h1>Item List</h1>
        <a class="btn" th:href="@{/admin/items/new}">Add new</a>
        <table class="table">
          <thead>
            <tr>
              <th>Article</th>
              <th>Category</th>
              <th>Type</th>
              <th>Name</th>
              <th>Price</th>
              <th>Sale Price</th>
              <th>Quantity</th>
              <th>Is Available</th>
              <th>On Sale</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item : ${items}">
              <td th:text="${item.getArticle()}"></td>
              <td th:text="${item.getCategory()}"></td>
              <td th:text="${item.getType()}"></td>
              <td th:text="${item.getName()}"></td>
              <td th:text="${item.getRegularPrice()}"></td>
              <td th:text="${item.getSalePrice()}"></td>
              <td th:text="${item.getQuantity()}"></td>
              <td th:text="${item.isAvailable()}"></td>
              <td th:text="${item.isOnSale()}"></td>
              <td>
                <button class="editItemBtn" th:attr="
                data-id=${item.id},
                data-article=${item.article},
                data-category=${item.category},
                data-type=${item.type},
                data-name=${item.name},
                data-shortDescription=${item.shortDescription},
                data-fullDescription=${item.fullDescription},
                data-imgUrl=${item.imgUrl},
                data-regularPrice=${item.regularPrice},
                data-salePrice=${item.salePrice},
                data-quantity=${item.quantity},
                data-isAvailable=${item.isAvailable},
                data-isOnSale=${item.isOnSale}"></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="editItemModal" class="modal">
          <div class="modal-content">
            <span class="closeItemModalBtn">&times;</span>
            <form method="post" th:action="@{/admin/items/edit}">
              <input type="number" name="id" id="itemId" readonly="true"><br>
              <input type="text" name="article" id="article" placeholder="Article"><br>
              <input type="text" name="category" id="category" placeholder="Category"><br>
              <input type="text" name="type" id="type" placeholder="Type"><br>
              <input type="text" name="name" id="name" placeholder="Name"><br>
              <textarea name="shortDescription" id="shortDescription" placeholder="Short Description"></textarea><br>
              <textarea name="fullDescription" id="fullDescription" placeholder="Full Description"></textarea><br>
              <input type="url" name="imgUrl" id="imgUrl" placeholder="Image URL"><br>
              <input type="number" name="regularPrice" id="regularPrice" placeholder="Regular Price"><br>
              <input type="number" name="salePrice" id="salePrice" placeholder="Sale Price"><br>
              <input type="number" name="quantity" id="quantity" placeholder="Quantity"><br>
              <label><input type="checkbox" name="isAvailable" id="isAvailable">Is Available?</label><br>
              <label><input type="checkbox" name="isOnSale" id="isOnSale">Is On Sale?</label><br>
              <button type="submit">Save</button>
              <button type="button" class="closeItemModalBtn">Cancel</button>
            </form>
          </div>
        </div>
      </div>
      <div class="box">
        <h1>User List</h1>
          <a class="btn" th:href="@{/admin/users/new}">Add new</a>
          <table class="table">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="user : ${users}">
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getPhone()}"></td>
                <td th:text="${user.getRole()}"></td>
                <td>
                  <a th:href="@{/admin/users/{id}(id=${user.getId()})}">View</a>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>
